# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
bower_components
public/build

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#compiled files
public/stylesheets/style.css~
public/stylesheets/bundle.min.css
