html, body {
  margin: 0px;
  height: 100%;
  background: black;
}
.speaker {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.videocontainer {
  position: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: contain;
  border-radius: 8px;
  border: 2px solid gray;
  margin-right: 3px;
}
.peervideo {
  height: 200px;
}
.unicorn {
  border-radius: 8px;
  border: 2px solid gray;
  background: url('../img/angryunicorn1.png') no-repeat;
  background-position: 50% 50%;
  z-index: 99;
  height: 200px;
  width: 261px;
}
.unicorn-self {
  border-radius: 8px;
  border: 2px solid gray;
  background: url('../img/angryunicorn.png') no-repeat;
  background-position: 50% 50%;
  z-index: 99;
  height: 480px;
  width: 640px;
}
.unicorn-self > video {
  display: none;
}
.unicorn > video {
  display: none;
}
.videodiv {
  position: relative;
  float: left;
}
.modal-content.ui-resizable {
  overflow: hidden;
}
#whiteboard {
  position: relative;
  display: block;
  border: 1px solid black;
  cursor: pointer;
}
#yellow {
  color: #FFFF00;
}
#red {
  color: #FF0000;
}
#green {
  color: #008000;
}
#blue {
  color: #0000FF;
}
.btn-default {
  background-color: #eee !important;
}
#controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: default;
}
#whiteboard {
  margin-left: 50px;
}
.modal-backdrop.fade.in {
  opacity: 0;
}
#peek {
  z-index: 1000;
  display: inline-block;

  height: 100%;
  width: 401px;
  top: 0;
  right: 0;
  float: right;
  position: relative;
  left: 15px;
  background-color: #343a45;
  border: 0.1em solid #bbb;
  border-radius: 0.25em;
  color: #fff;
  z-index: 10;
}
#chat-history {
  list-style-type: none;
  max-width: 400px;
  word-wrap: break-word;
  border: 1px solid black;
  height: 83vh;
  overflow: auto;
  z-index: 10;
  padding: 20px 24px;
  font-size: 14px;
  color: #fff;
}
#message-input {
  width: 400px;
  height: 4em;
  padding: 1em;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.1em;
  max-height: 5em;
  max-width: 400px;

  color: black;
}
.CodeMirror-hints {
    z-index: 12039;
}
body {
  padding-top: 65px;
}
#nav-buttons {
  padding: 7px 15px;
}
.navbar-default .navbar-brand {
  color: #1abc9c;
  font-weight: bold;
}

.overlay {
  position: absolute;
  border-radius: 30px;
  left: 0px;
  top: 0px;
  margin: 5px;
  padding: 5px 5px;
  font-size: 12px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(40, 40, 40, 0.1);
}
