html, body {
  margin: 0px;
  height: 100%;
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.speaker {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: auto;
}
.videocontainer {
  position: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background-size: contain;
  border-radius: 8px;
  border: 2px solid gray;
  margin-right: 3px;
  width: 100%;
  height: auto;
}
.peervideo {
  height: auto;
}
.unicorn {
  border-radius: 8px;
  border: 2px solid gray;
  background: url('../img/angryunicorn1.png') no-repeat;
  background-position: 50% 50%;
  z-index: 99;
  height: 100px;
  width: 100% !important;
}
.unicorn-self {
  background: url('../img/angryunicorn.png') no-repeat;
  background-position: 50% 50%;
  z-index: 99;
  height: 900px !important; 
  width: 100% !important;
}
.unicorn-self > video {
  display: none;
}
.unicorn > video {
  display: none;
}
.videodiv {
  position: relative;
  float: left;
}
.modal-content.ui-resizable {
  overflow: hidden;
}
#whiteboard {
  position: relative;
  display: block;
  border: 1px solid black;
  cursor: pointer;
}
#yellow {
  color: #FFFF00;
}
#red {
  color: #FF0000;
}
#green {
  color: #008000;
}
#blue {
  color: #0000FF;
}
.btn-default {
  background-color: #eee !important;
}
#controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: default;
}
#whiteboard {
  margin-left: 50px;
}
.modal-backdrop.fade.in {
  opacity: 0;
}
.chat {
  height: 100vh;
}
#peek {
  z-index: 1000;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  float: right;
  position: relative;
  left: 15px;
  background-color: #343a45;
  border-radius: 0.25em;
  color: #fff;
  z-index: 10;
}
.chat-with {
  padding-top: 12px;
  padding-left: 12px;
}
.chat-about {
  border-bottom: 1px solid #fff;
}
#chat-history {
  list-style-type: none;
  word-wrap: break-word;
  height: 84vh;
  overflow: auto;
  z-index: 10;
  padding: 20px 10px;
  font-size: 14px;
  color: #fff;
}
#message-input {
  width: 100%;
  height: 4em;
  padding: 1em;
  font-family: "Montserrat", "sans-serif";
  font-size: 1.1em;
  max-height: 5em;
  color: black;
}
.CodeMirror-hints {
    z-index: 12039;
}
body {
  padding-top: 50px;
  overflow: hidden !important;
}
#nav-buttons {
  padding: 7px 15px;
}
.navbar-default .navbar-brand {
  color: #1abc9c;
  font-weight: bold;
}

.overlay {
  position: absolute;
  border-radius: 30px;
  left: 25px;
  top: 0px;
  margin: 5px;
  padding: 5px 5px;
  font-size: 12px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(40, 40, 40, 0.1);
}
#video-list {
  width: 100%;
  height: 95vh;
  overflow-y: scroll;
  overflow-x:hidden;
  border: 2px solid gray;
  display: inline-block;
  float: left;
}
#speaker {
  float: left;
  width: 100%;
  height: auto;
}
#speaker video {
  height: auto;
  width: 100%;
}
.no-padding, .no-padding-chat {
  padding: 0;
}

@media (max-width: 1000px) {
  .no-padding-chat {
    padding: 15px;
    padding-top: 0;
  }
  #peek, #chat {
    height: 100%;
  }
  #peer-videos {
    display: none;
  }
  #chat-history {
    min-height: 50%;
    overflow-y: scroll;
    margin-bottom: 62px;
  }
  #message-input {
    width: 100%;
    padding: 3px;
    font-family: "Montserrat", "sans-serif";
    color: black;
    position: fixed;
    bottom: 0px;
  }
  .unicorn-self {
    background: url('../img/angryunicorn.png') no-repeat;
    background-position: 50% 50%;
    z-index: 99;
    height: 470px !important; 
    width: 100% !important;
  }
}

@media (max-width: 1500px) {
  .unicorn {
    height: 150px;
    width: 100% !important;
  }
}

@media (max-width: 2000px) {
  .unicorn {
    height: 190px;
    width: 100% !important;
  }
}